 <div class="conditions flexcol">
    <div class="section-header">{{localize "tfhogwarts.conditions"}}</div>
    
    <div class="flexrow">
        <div class="info-item">{{localize "tfhogwarts.upset"}}
        
        <label class="imgCheck">
            {{#unless data.system.upset}}
            <img class="toggle-boolean" data-toggle="upset" src="systems/tfhogwarts/img/box_not_checked.png" height="18px" width="18px">
            {{/unless}}
            
            {{#if data.system.upset}}
            <img class="toggle-boolean" data-toggle="upset" src="systems/tfhogwarts/img/box_checked.png" height="18px" width="18px">
            {{/if}}
        </label>
        </div>
        
        <div class="info-item">{{localize "tfhogwarts.scared"}} 
            <label class="imgCheck">
                {{#unless data.system.scared}}
                <img class="toggle-boolean" data-toggle="scared" src="systems/tfhogwarts/img/box_not_checked.png" height="18px" width="18px">
                {{/unless}}
                    
                {{#if data.system.scared}}
                <img class="toggle-boolean" data-toggle="scared" src="systems/tfhogwarts/img/box_checked.png" height="18px" width="18px">
                {{/if}}
            </label>
        </div>

        <div class="info-item">{{localize "tfhogwarts.exhausted"}} 
            <label class="imgCheck">
                {{#unless data.system.exhausted}}
                <img class="toggle-boolean" data-toggle="exhausted" src="systems/tfhogwarts/img/box_not_checked.png" height="18px" width="18px">
                {{/unless}}
        
                {{#if data.system.exhausted}}
                <img class="toggle-boolean" data-toggle="exhausted" src="systems/tfhogwarts/img/box_checked.png" height="18px" width="18px">
                {{/if}}
            </label>
        </div>

        <div class="info-item">{{localize "tfhogwarts.injured"}} 
            <label class="imgCheck">
                {{#unless data.system.injured}}
                <img class="toggle-boolean" data-toggle="injured" src="systems/tfhogwarts/img/box_not_checked.png" height="18px" width="18px">
                {{/unless}}

                {{#if data.system.injured}}
                <img class="toggle-boolean" data-toggle="injured" src="systems/tfhogwarts/img/box_checked.png" height="18px" width="18px">
                {{/if}}
            </label>
        </div>
                
        <div class="special-item">{{localize "tfhogwarts.broken"}} 
            <label class="imgCheck">
                {{#unless data.system.broken}}
                <img class="toggle-boolean" data-toggle="broken" src="systems/tfhogwarts/img/box_not_checked.png" height="18px" width="18px">
                {{/unless}}

                {{#if data.system.broken}}
                <img class="toggle-boolean" data-toggle="broken" src="systems/tfhogwarts/img/box_checked.png" height="18px" width="18px">
                {{/if}}
            </label>
        </div>
    </div>
</div>
