<div class="core-info info-group">
    <div class="flexrow">
        <div class="flexcol">
            <div class="flexrow">
                <div class="info-item short">
                    <label>{{localize "tfhogwarts.age"}}</label>
                    <select name="system.age">
                        {{#select data.system.age}}
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        {{/select}}
                    </select>
                </div>

                <div class="special-item flexrow">
                    <label class="use-luck">{{localize "tfhogwarts.luck"}}
                        {{#times data.system.curLuck}}
                        <img src="systems/tfhogwarts/img/box_not_checked.png" height="18px" width="18px">
                        {{/times}}

                        {{#times data.system.luck.value}}
                        <img src="systems/tfhogwarts/img/box_checked.png" height="18px" width="18px">
                        {{/times}}
                    </label>
                    
                    <div class="reset-luck">{{localize "tfhogwarts.reset"}}</div>
                </div>
            </div>
            
            <div class="info-item even flexrow">
                <label>{{localize "tfhogwarts.drive"}}</label>
                <input name="system.drive" type="text" value="{{data.system.drive}}" placeholder=""/>
            </div>

            <div class="info-item odd flexrow">
                <label>{{localize "tfhogwarts.wand"}}</label>
                <input name="system.wand" type="text" value="{{data.system.wand}}" placeholder=""/>
            </div>

            <div class="info-item even flexrow">
                <label>{{localize "tfhogwarts.problem"}}</label>
                <input name="system.problem" type="text" value="{{data.system.problem}}" placeholder=""/>
            </div>

            <div class="info-item odd flexrow">
                <label>{{localize "tfhogwarts.pride"}}</label>
                <input name="system.pride" type="text" value="{{data.system.pride}}" placeholder=""/>
                <label class="imgCheck">
                    {{#unless data.system.prideCheck}}
                    <img class="toggle-boolean" data-toggle="prideCheck" src="systems/tfhogwarts/img/box_not_checked.png" height="18px" width="18px">
                    {{/unless}}

                    {{#if data.system.prideCheck}}
                    <img class="toggle-boolean" data-toggle="prideCheck" src="systems/tfhogwarts/img/box_checked.png" height="18px" width="18px">
                    {{/if}}
                </label>
            </div>

            <div class="info-item even flexrow">
                <label>{{localize "tfhogwarts.description"}}</label>
                <input name="system.description" type="text" value="{{data.system.description}}" placeholder=""/>
            </div>

            <div class="info-item odd flexrow">
                <label>{{localize "tfhogwarts.pet"}}</label>
                <input name="system.pet" type="text" value="{{data.system.pet}}" placeholder=""/>
            </div>
            
    </div>
    <div class="flexcol hogwarts-house-col">
        <div class="flexrow hogwarts-house-img">
            <img src="{{data.system.houseLogoUrl}}" alt="{{sheet.data.system.type}}">
         </div>
    </div>
    </div>


</div>