<div class="items-hideout flexrow">
    <div class="items info-group">
        <div class="section-header flexrow">
            <h4 class="section-header">{{localize "tfhogwarts.moneybag"}}</h4>
        </div>

            <div class="flexrow">
                <div class="flexrow">
                    <label>{{localize "tfhogwarts.galleon"}}</label>
                    <input name="system.galleon" type="text" value="{{data.system.galleon}}" data-dtype="Number" placeholder=""/>
                </div>
                <div class="flexrow">
                    <label>{{localize "tfhogwarts.sickel"}}</label>
                    <input name="system.sickel" type="text" value="{{data.system.sickel}}" data-dtype="Number" placeholder=""/>
                </div>
                <div class="flexrow">
                    <label>{{localize "tfhogwarts.knuts"}}</label>
                    <input name="system.knuts" type="text" value="{{data.system.knuts}}" data-dtype="Number" placeholder=""/>
                </div>             
            </div>


        
    </div>


</div>
